* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --fc-primary: #323238;
  --bb-primary:#E1E1E6;
  --bb-secundary:#02799D;
  --svg-secundary:#FFFFFF;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.page {
  width: 82.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  width: 32.2rem;
  display: flex;
  flex-direction: column;
}

.timer {
  display: flex;
}

.timer span {
  font-weight: 500;
  font-size: 12.8rem;
  line-height: 14.8rem;
  text-align: center;
  color: var(--fc-primary);
  margin-bottom: 2.8rem;
}

.controls {
  display: flex;
  gap: 4rem;
}

.controls button {
  background: transparent;
  border: none;
  cursor: pointer;
}

footer button {
  border: none;
  border-radius: 2.4rem;
  width: 13.8rem;
  height: 15.2rem;
  cursor: pointer;
  background: var(--bb-primary);
}

.sounds {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3.2rem;
  grid-row-gap: 3.2rem;
}


.bbsecundary {
  background: var(--bb-secundary);
}

.svgsecundary {
  fill: var(--svg-secundary);
}

.hide {
  display: none;
}


